elpa/
elpa-to-submit/
archived/
*.elc
loaddefs.el*
/places/
session*
backups/
auto-save-list
custom.el
thumbs/
oddmuse/
url/
.newsrc-dribble
.nnmail-cache
.svn
.DS_Store
image-dired/
.smex-items
*.el~
/tramp
/ac-comphist.dat
recentf
bookmarks
