loaddefs.el*
/places/*
places
places/
backups/*
auto-save-list
*elc
elpa-to-submit/jabber/jabber.info
elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
thumbs/*
oddmuse/*
url/cookies
.newsrc-dribble
.nnmail-cache
/#.newsrc-dribble#
.svn
.DS_Store

